/* Reset margin for the entire body */
body {
  margin: 0;
}

/* Set the font family for the entire document */
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

/* Enable anti-aliasing for -webkit-based browsers */
-webkit-font-smoothing: antialiased;

/* Enable anti-aliasing for -moz-based browsers */
-moz-osx-font-smoothing: grayscale;

/* Set the font family for code elements */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
