# Default ignored files
# The following lines specify a list of files and directories that will be ignored by default
# when performing searches or other operations in the code. This can be useful for excluding
# temporary or unnecessary files and directories, such as '/shelf/' and '/workspace.xml'.

/shelf/

